.form-help{
    padding: 20px;
    background-color: #eee;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

button.button-help{
    background-color: #00a3ff;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    color: #fff;
    border-radius: 6px;
}

button.button-help:hover{
    background-color: #777;
    padding: 10px;
}

button.button-help:active{
    background-color: #777;
    padding: 10px;
}

.form-help h2{
    margin: 10px 0 20px 0;
}

.upload_image_main{
    margin: 30px 0 30px 0;
}

.upload_from_db img{
    width: 150px;
}

.upload_from_db_preview img{
    width: 100px;
}

.field_from_db{
    margin: 0 0 0 20px;  
}

.news-cols{
    padding: 5px;
}

.news-size{
    width: 100%;
    height: 480px;
    background-color: rgb(243,243,243);  
}

.news-image{
    width: 100%;
    height: 263px;
    overflow: hidden;
}

img.image-img{
    width: 100%;
    height: 270px;
}

.news-image a{
    width: 100%;
    height: 270px;
}

.wrap-img{
    position: relative;
}

.news-image a img{
    width: 100%;
    height: 100%;
}

.news-image a:hover .img-opacity{
    opacity: 0.4;
}

.img-opacity{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0,166,228);
    opacity: 0;
}

div.news-image a:hover div.img-hover{
    opacity: 0.4;
}

.news-text{
    height: 150px;
    margin: 20px;
}

.news-more{
    position: absolute;
    bottom: 20px;
    font-family: "Elektra Light Pro Bold", sans-serif;
}

.news-more a{
    color: #3a3a3a;
}

.news-more a:hover, .news-title a:hover{
    color: rgb(0,166,228);
}

.news-created{
   position: absolute;
   bottom: 50px;
   font-size: 13px;
}

.news-title{
    width: 230px;
    position: absolute;
    font-size: 16px;
}

.news-title a{
    color: #3a3a3a;  
}

.article-main{
}

.article-wrap{
    margin: 15px 0 15px 0;
}

.article-image{
    margin-bottom: 20px;
}

.article-image img{
    width: 100%;
}

.article-lead{
    width: 100%;
    font-family: "Elektra Light Pro Bold", sans-serif;
    font-size: 15px;
}

.article-body{
    width: 100%;
    margin-top: 20px;
}

.article-last-news{
    margin-bottom: 10px;
    padding: 25px 25px 10px 25px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(243,243,243);
}

.article-last-news span.article-bar-title{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    background-color: rgb(230,230,230);
    color: #777;
}

.article-last-news>div{
    margin-bottom: 15px;  
}

.article-bar-rubrika{
    border-bottom: 1px solid rgb(230,230,230);
    width: 100%;
    display: inline-block;
}

.article-last-news span a{
    color: rgb(30,24,70);
}

.article-last-news span a:hover{
    color: rgb(0,166,228);
}

.main-padding{
     padding: 0 10px 0 10px;
}

.main-image{
    margin: 0 -5px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
}

.main-image img{
    width: 100%;
}

.site-login{
    margin-top: 50px;
}

.main-page-link-wrap{
    position: absolute;
    width: 100%;
    padding: 20px 30px;
    background-color: rgba(0,0,0,0.4);
    z-index: 3000;
}

.main-page-link-wrap a{
    font-family: "Elektra Light Pro Bold", sans-serif;
    font-size: 15px;
    color: #fff;
    width: 100%;
}

.main-image a:hover .img-opacity{
    opacity: 0.4;
}

.contacts{
    margin: 15px 0;
}

/*медиа запросы*/
@media (max-width: 992px){
    .article-body{
        margin-bottom: 20px;
    }
}
