.ctegory_panel{
    width: 100%;
    background-color: rgb(243,243,243);
    padding: 40px;
    border-bottom: 1px solid rgb(211,211,211);
    text-align: center;
}

.ctegory_panel span{  
    margin: 0;
    font-family: "Elektra Light Pro", sans-serif;
    font-size: 20px;
    color: rgb(30,24,70);
}



    